div.card {
  color:black;
  margin: 12px;
}

Card.card-top {
  margin: 15px;

}

.card-img-top {
  height: 250px
}

div.carousel {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}
