@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

body {
  background-color: #262626;
  font-family: 'Supermercado One', cursive; 
  /* background-image: url('../background.jpg'); */
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
}

