@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tinos&family=Ysabeau+Infant:wght@1;100;200&family=Ysabeau+SC:wght@300&display=swap');

body {
  background-color: #262626;
  font-family: 'Roboto', sans-serif;
  /* background-image: url('../background.jpg'); */
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
}

